.all {
    margin: auto;
    margin-right: -70px;
    margin-bottom: 1000px;
    margin-top: 100px;
    width: 60%;
    padding: 10px;
}

.log {
    padding-top: 50px;
    padding-left: 111px;
    padding-bottom: 70px;
}
